<nav
  class="wf-categories"
  data-block-id="categories"
  aria-label="Product categories"
>
  <ul class="wf-categories__list">
    <li class="wf-categories__item">
      <a class="wf-categories__link" href="#" aria-current="page">
        <span class="wf-categories__title">Preparation Equipment</span>
        <span class="wf-categories__meta">24 items</span>
      </a>
    </li>
    <li class="wf-categories__item">
      <a class="wf-categories__link" href="#">
        <span class="wf-categories__title">Storage Systems</span>
        <span class="wf-categories__meta">18 items</span>
      </a>
    </li>
    <li class="wf-categories__item">
      <a class="wf-categories__link" href="#">
        <span class="wf-categories__title">Serving Equipment</span>
        <span class="wf-categories__meta">12 items</span>
      </a>
    </li>
    <li class="wf-categories__item">
      <a class="wf-categories__link" href="#">
        <span class="wf-categories__title">Transport Solutions</span>
        <span class="wf-categories__meta">9 items</span>
      </a>
    </li>
    <li class="wf-categories__item">
      <a class="wf-categories__link" href="#">
        <span class="wf-categories__title">Cleaning and Sanitation</span>
        <span class="wf-categories__meta">7 items</span>
      </a>
    </li>
    <li class="wf-categories__item">
      <a class="wf-categories__link" href="#">
        <span class="wf-categories__title">Accessories and Spare Parts</span>
        <span class="wf-categories__meta">31 items</span>
      </a>
    </li>
  </ul>
</nav>
