<nav class="wf-legal-links" data-block-id="legal_links" aria-label="Legal information">
  <ul class="wf-legal-links__list" role="list">
    <li class="wf-legal-links__item">
      <a class="wf-legal-links__link" href="#">Privacy Policy</a>
    </li>
    <li class="wf-legal-links__item">
      <a class="wf-legal-links__link" href="#">Personal Data Processing</a>
    </li>
    <li class="wf-legal-links__item">
      <a class="wf-legal-links__link" href="#">Terms of Use</a>
    </li>
    <li class="wf-legal-links__item">
      <a class="wf-legal-links__link" href="#">Cookie Policy</a>
    </li>
    <li class="wf-legal-links__item">
      <a class="wf-legal-links__link" href="#">Company Details</a>
    </li>
  </ul>
</nav>
