<nav class="wf-pagination" data-block-id="pagination" aria-label="Pagination">
  <ul class="wf-pagination__list">
    <li class="wf-pagination__item wf-pagination__item--prev">
      <a class="wf-pagination__link wf-pagination__control" href="#">Previous</a>
    </li>
    <li class="wf-pagination__item">
      <a class="wf-pagination__link" href="#">1</a>
    </li>
    <li class="wf-pagination__item">
      <a class="wf-pagination__link" href="#">2</a>
    </li>
    <li class="wf-pagination__item">
      <span class="wf-pagination__current" aria-current="page">3</span>
    </li>
    <li class="wf-pagination__item wf-pagination__item--ellipsis" aria-hidden="true">
      <span class="wf-pagination__ellipsis">…</span>
    </li>
    <li class="wf-pagination__item">
      <a class="wf-pagination__link" href="#">8</a>
    </li>
    <li class="wf-pagination__item wf-pagination__item--next">
      <a class="wf-pagination__link wf-pagination__control" href="#">Next</a>
    </li>
  </ul>
</nav>
