<!DOCTYPE html>
<html lang="@@lang">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@title</title>
    <meta name="description" content="@@description">
    <meta name="robots" content="@@robots">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="@@title">
    <meta property="og:description" content="@@description">
    <meta property="og:type" content="@@ogType">

    <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/screen-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
