<header class="site-header">
  <div class="site-header__container">
    <div class="site-header__top">
      <a class="site-header__logo" data-safe-unknown="header-logo-url">
        <img
          class="site-header__logo-image"
          src="assets/img/branding/logo.svg"
          alt="Шпиговский дом"
        >
      </a>
      <address class="site-header__address">
        <span class="site-header__address-line">Москва,</span>
        <span class="site-header__address-line">Московская область</span>
      </address>
      <div class="site-header__schedule">
        <span class="site-header__schedule-line">пн-пт: 08:00-18:00,</span>
        <span class="site-header__schedule-line">сб-вс: 08:00-22:00</span>
      </div>
      <div class="site-header__phones">
        <a class="site-header__phone" href="tel:+79251836464">8 (925) 183-64-64</a>
        <a class="site-header__phone" href="tel:+79950239226">8 (995) 023-92-26</a>
      </div>
      <div class="site-header__messengers">
        <a
          class="site-header__messenger-link"
          data-safe-unknown="header-messenger-telegram-url"
          aria-label="Telegram"
        >
          <img
            class="site-header__messenger-icon"
            src="assets/img/social/telegram.svg"
            alt=""
          >
        </a>
        <a
          class="site-header__messenger-link"
          data-safe-unknown="header-messenger-whatsapp-url"
          aria-label="WhatsApp"
        >
          <img
            class="site-header__messenger-icon"
            src="assets/img/social/whatsapp.svg"
            alt=""
          >
        </a>
      </div>
      <button type="button" class="site-header__callback" data-safe-unknown="header-callback-action">ЗАКАЗАТЬ ЗВОНОК</button>
    </div>
    <div class="site-header__bottom">
      <nav class="site-header__nav" aria-label="Основная навигация">
        <ul class="site-header__nav-list">
          <li class="site-header__nav-item">
            <a class="site-header__nav-link" data-safe-unknown="header-nav-url-lechenie-i-profilaktika">Лечение и профилактика</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-link" data-safe-unknown="header-nav-url-genotipirovanie">Генотипирование</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-link" data-safe-unknown="header-nav-url-specialisty">Специалисты</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-link" data-safe-unknown="header-nav-url-o-centre">О&nbsp;центре</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-link" data-safe-unknown="header-nav-url-otzyvy">Отзывы</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-link" data-safe-unknown="header-nav-url-stati">Статьи</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-link" data-safe-unknown="header-nav-url-kontakty">Контакты</a>
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="site-header__search"
        aria-label="Открыть поиск"
        data-safe-unknown="header-search-action"
      >
        <img
          class="site-header__search-icon"
          src="assets/img/icons/search.svg"
          alt=""
        >
      </button>
    </div>
  </div>
</header>
