APP_NAME="i-SEO Report Hub"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://iseo-report-hub.test

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=iseo_report_hub_dev
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME

UPLOAD_PATH=storage/uploads
LOG_PATH=storage/logs
