<footer class="tm-footer tm-footer--v2" aria-label="Подвал сайта">
    <div class="tm-footer__top-bar">
        <div class="tm-container tm-footer__top-inner"></div>
    </div>
    <div class="tm-footer__main">
        <div class="tm-container tm-footer__main-inner">
            <div class="tm-footer__col tm-footer__col--brand"></div>
            <div class="tm-footer__col tm-footer__col--legal"></div>
            <div class="tm-footer__col tm-footer__col--contacts"></div>
        </div>
    </div>
    <div class="tm-footer__bottom">
        <div class="tm-container tm-footer__bottom-inner"></div>
    </div>
</footer>
