<section class="about-approach" id="about-approach" aria-labelledby="about-approach-heading">
  <div class="container about-approach__container">
    <header class="about-approach__head">
      <h2 class="about-approach__heading" id="about-approach-heading">Наш подход к&nbsp;лечению</h2>
      <a class="home-rehabilitation-program__all-link about-approach__all-link" href="/o-centre/programma-lecheniya/">
        <span class="home-rehabilitation-program__all-text">подробнее</span>
        <span class="home-rehabilitation-program__all-icon" aria-hidden="true"><i class="fas fa-play"></i></span>
      </a>
    </header>

    <p class="about-approach__highlight block-whith-red-line">Мы используем мультидисциплинарный подход&nbsp;— когда лечение одного пациента обеспечивается командой специалистов разных профилей. Такой подход становится залогом понимания и&nbsp;решения проблемы.</p>

    <p class="about-approach__intro">Лечение в&nbsp;нашем реабилитационном центре совмещает современный и&nbsp;мультидисциплинарный подход направленный на&nbsp;устранение истинных причин зависимости.</p>

    <div class="about-approach__staff-bleed">
      <img
        class="about-approach__staff-image"
        src="assets/img/content/pre-reviews/shpigovsky-staff-group.webp"
        width="1170"
        height="458"
        alt="Команда специалистов реабилитационного центра"
        loading="lazy"
        decoding="async"
      >
    </div>

    <ul class="home-feature-grid__card-grid about-approach__cards">
      <li class="home-feature-grid__card about-approach__card">
        <h3 class="home-feature-grid__card-title">диагностические инструменты</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
      <li class="home-feature-grid__card about-approach__card">
        <h3 class="home-feature-grid__card-title">психиатрия</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
      <li class="home-feature-grid__card about-approach__card">
        <h3 class="home-feature-grid__card-title">персональная безопасность</h3>
        <p class="home-feature-grid__card-text">Мы гарантируем конфиденциальность, уважение к&nbsp;личности, поддержание комфортной, психологически безопасной атмосферы.</p>
      </li>
      <li class="home-feature-grid__card about-approach__card">
        <h3 class="home-feature-grid__card-title">теннисный корт</h3>
        <p class="home-feature-grid__card-text">На&nbsp;заднем дворе дома, рядом с&nbsp;фонтаном, в&nbsp;окружении деревьев расположен теннисный корт.</p>
      </li>
      <li class="home-feature-grid__card about-approach__card">
        <h3 class="home-feature-grid__card-title">функциональная терапия</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
      <li class="home-feature-grid__card about-approach__card">
        <h3 class="home-feature-grid__card-title">комплиментарная терапия</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
    </ul>
  </div>
</section>
