<section class="hero hero--inner">
  <div class="hero__media" aria-hidden="true">
    <img
      class="hero__image"
      src="@@heroImage"
      width="@@heroWidth"
      height="@@heroHeight"
      alt=""
    >
  </div>

  <div class="hero__content">
    <div class="hero__container">
      <div class="hero__panel">
        <div class="hero__content-inner">
          <p class="hero__eyebrow">@@heroEyebrow</p>
          <p class="hero__tagline">@@heroTagline</p>
          <h1 class="hero__title">@@heroTitle</h1>
        </div>
      </div>
      <div class="hero__actions">
        <button
          class="btn btn_dark btn--primary hero__button"
          type="button"
          data-modal-open="consultation"
          data-modal-source="@@heroCtaSource"
          data-modal-title="@@heroCtaText"
          data-modal-submit-text="@@heroCtaText"
        >
          @@heroCtaText
        </button>
      </div>
    </div>
  </div>
</section>
