<section class="hero">
  <div class="hero__media--wrapper">

    <div class="hero__media">
      <img
        class="hero__image"
        src="assets/img/hero/hero-main.png"
        width="2230"
        height="1246"
        alt=""
        aria-hidden="true"
      >
    </div>

    <div class="hero__container">
      <div class="hero__panel">
        <div class="hero__content">
          <p class="hero__tagline">Центр профилактики и&nbsp;лечения зависимостей</p>
          <h1 class="hero__title">Шпиговский дом</h1>
        </div>
      </div>
      <div class="hero__actions">
        <button
          class="btn btn_dark btn--primary hero__button"
          type="button"
          data-modal-open="consultation"
          data-modal-source="hero"
          data-modal-title="Записаться на консультацию"
          data-modal-submit-text="Записаться на консультацию"
        >
          Записаться на консультацию
        </button>
      </div>
    </div>
    
  </div>
</section>
