<section class="home-reviews" aria-label="Отзывы">
  <div class="container">
    <div class="home-reviews__heading">
      <h2 class="home-reviews__title">Отзывы</h2>
      <a class="home-reviews__all-link" href="#">
        <span class="home-reviews__all-text">Смотреть отзывы</span>
        <span class="home-reviews__all-icon" aria-hidden="true"><i class="fas fa-caret-right"></i></span>
      </a>
    </div>

    <div class="home-reviews__slider swiper" data-reviews-slider>
      <div class="home-reviews__wrapper swiper-wrapper">
        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Александр, Москва</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Обратились в&nbsp;центр в&nbsp;непростой период. С&nbsp;первого контакта чувствовалось уважительное отношение и&nbsp;спокойный тон общения. Персонал отвечал на&nbsp;вопросы без спешки и&nbsp;давления.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Мария, Московская область</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Для нас было важно, что в&nbsp;центре поддерживают спокойную обстановку. Пространство организовано аккуратно, без ощущения формального учреждения. Это помогло легче адаптироваться.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Елена, Москва</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Понравилось, что этапы сопровождения объясняли простым языком. Мы понимали, что происходит на&nbsp;каждом шаге, и&nbsp;могли спокойно планировать визиты и&nbsp;общение с&nbsp;специалистами.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Игорь, Московская область</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Семье было важно получать понятную обратную связь. Сотрудники центра поддерживали контакт, отвечали на&nbsp;звонки и&nbsp;помогали сохранять спокойствие в&nbsp;сложной ситуации.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Наталья, Москва</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Отметила внимательное отношение персонала к&nbsp;мелочам быта и&nbsp;режима. В&nbsp;центре создают условия, в&nbsp;которых проще сосредоточиться на&nbsp;восстановлении и&nbsp;ежедневных задачах.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Сергей, Московская область</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Комфортные условия проживания и&nbsp;чёткий распорядок помогли быстрее войти в&nbsp;рабочий ритм. Атмосфера в&nbsp;центре дружелюбная, без излишней официальности.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Анна, Москва</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Ценим деликатный подход к&nbsp;личной информации. Вопросы конфиденциальности обсуждали заранее, и&nbsp;это создало дополнительное чувство безопасности для всей семьи.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Дмитрий, Московская область</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Понравилась последовательность в&nbsp;организации помощи: от&nbsp;первичной консультации до&nbsp;ежедневного сопровождения. Команда работает согласованно и&nbsp;внимательно относится к&nbsp;запросам.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Ольга, Москва</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">Сотрудники центра оперативно отвечали на&nbsp;вопросы и&nbsp;поддерживали контакт с&nbsp;родственниками. Такая обратная связь помогала чувствовать, что процесс под контролем.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>

        <article class="home-reviews__slide swiper-slide">
          <div class="home-reviews__card">
            <ul class="home-reviews__rating" aria-label="Оценка 5 из 5">
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
              <li class="home-reviews__star" aria-hidden="true"><i class="fas fa-star"></i></li>
            </ul>
            <cite class="home-reviews__author-name">Михаил, Московская область</cite>
            <blockquote class="home-reviews__quote">
              <p class="home-reviews__text">В&nbsp;центре чувствуется человеческое отношение: специалисты говорят спокойно, слушают и&nbsp;не&nbsp;обесценивают переживания. Именно это для нас стало решающим при выборе.</p>
            </blockquote>
            <footer class="home-reviews__read-all">
              <a class="" href="#">Читать весь отзыв</a>
            </footer>
          </div>
        </article>
      </div>

      <div class="home-reviews__pagination swiper-pagination" data-reviews-pagination></div>
    </div>
  </div>
</section>
