<section class="home-gallery" aria-label="Фотогалерея центра">
  <div class="container">
    <div class="home-gallery__slider swiper" data-gallery-slider>
      <div class="home-gallery__wrapper swiper-wrapper">
        <div class="home-gallery__slide swiper-slide">
          <img
            class="home-gallery__image"
            src="assets/img/content/gallery/shpigovsky-gallery-01.webp"
            width="621"
            height="938"
            alt=""
            decoding="async"
          >
          <p class="home-gallery__caption">Лечение зависимости от&nbsp;алкоголя</p>
        </div>
        <div class="home-gallery__slide swiper-slide">
          <img
            class="home-gallery__image"
            src="assets/img/content/gallery/shpigovsky-gallery-02.webp"
            width="1113"
            height="738"
            alt=""
            loading="lazy"
            decoding="async"
          >
          <p class="home-gallery__caption">Лудомания лечение зависимости</p>
        </div>
        <div class="home-gallery__slide swiper-slide">
          <img
            class="home-gallery__image"
            src="assets/img/content/gallery/shpigovsky-gallery-03.webp"
            width="1171"
            height="864"
            alt=""
            loading="lazy"
            decoding="async"
          >
          <p class="home-gallery__caption">Лечение подростковой зависимости</p>
        </div>
        <div class="home-gallery__slide swiper-slide">
          <img
            class="home-gallery__image"
            src="assets/img/content/gallery/shpigovsky-gallery-04.webp"
            width="1296"
            height="921"
            alt=""
            loading="lazy"
            decoding="async"
          >
          <p class="home-gallery__caption">Зависимость от&nbsp;постоянных покупок</p>
        </div>
      </div>
    </div>
  </div>
</section>
