<section class="home-recovery-intro" aria-labelledby="home-recovery-intro-heading">

  <!-- <div class="home-recovery-intro__decor" aria-hidden="true">
    <img
      class="home-recovery-intro__decor-image"
      src="assets/img/decor/home-recovery-intro-decor.png"
      width="382"
      height="471"
      alt=""
    >
  </div> -->

  <div class="container">

    <div class="home-recovery-intro--wrapper">

      <div class="home-recovery-intro__content">
        <h2 class="home-recovery-intro__heading" id="home-recovery-intro-heading">Шпиговский дом&nbsp;— восстановление с&nbsp;уважением к&nbsp;личности</h2>
        <p class="home-recovery-intro__lead">Мы убеждены, боль может быть общей для многих, но&nbsp;путь восстановления всегда индивидуален. Каким бы ни&nbsp;был ваш опыт, через что бы вы ни&nbsp;проходили и&nbsp;какой бы образ жизни ни&nbsp;хотели сохранить&nbsp;— в&nbsp;«Шпиговский Дом» программа реабилитации выстраивается вокруг личности человека, его целей и&nbsp;его будущего.</p>
        <ul class="home-recovery-intro__benefits">
          <li class="home-recovery-intro__benefits-item">высокий уровень комфорта;</li>
          <li class="home-recovery-intro__benefits-item">анонимное лечение зависимостей;</li>
          <li class="home-recovery-intro__benefits-item">психотерапевтическая реабилитация;</li>
          <li class="home-recovery-intro__benefits-item">лечение зависимости без потери личности, статуса и&nbsp;связи с&nbsp;жизнью.</li>
        </ul>
      </div>

      <ul class="home-recovery-intro__card-grid">
        <li class="home-recovery-intro__card">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i>
          <h3 class="home-recovery-intro__card-title">Реабилитация без изоляции</h3></span>
          <p class="home-recovery-intro__card-text">Клиенты могут пользоваться гаджетами по&nbsp;предварительной договоренности, продолжать работать удалённо, выезжать на&nbsp;рабочие встречи при сопровождении&nbsp;— это снижает барьер входа для занятых людей. Мы понимаем как важно не&nbsp;“выпадать из&nbsp;жизни”, поэтому не&nbsp;изолируем пациентов от&nbsp;внешнего мира.</p>
        </li>
        <li class="home-recovery-intro__card">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i>
          <h3 class="home-recovery-intro__card-title">Участие семьи и&nbsp;близких</h3></span>
          <p class="home-recovery-intro__card-text">Мы не&nbsp;ограничиваем контакты с&nbsp;семьёй, а&nbsp;работаем совместно. Семья и&nbsp;близкие для многих становятся мощной опорой на&nbsp;пути к&nbsp;полной ремиссии. Семейная терапия помогает сформировать правильное отношение к&nbsp;имеющимся проблемам у&nbsp;пациента и&nbsp;формы его поддержки.</p>
        </li>
        <li class="home-recovery-intro__card">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i>
          <h3 class="home-recovery-intro__card-title">Выявление и&nbsp;устранение причины зависимости</h3></span>
          <p class="home-recovery-intro__card-text">Программа реабилитации направлена не&nbsp;только на&nbsp;уход от&nbsp;зависимости, но&nbsp;и&nbsp;на&nbsp;выявление ее причины: почему человеку сложно получать удовольствие, почему справляется со&nbsp;стрессом с&nbsp;помощью стимуляторов, какие причины мешают выдерживать жизненные ситуации без допинга.</p>
        </li>

        <li class="home-recovery-intro__card">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i>
          <h3 class="home-recovery-intro__card-title">Реабилитация без изоляции</h3></span>
          <p class="home-recovery-intro__card-text">Клиенты могут пользоваться гаджетами по&nbsp;предварительной договоренности, продолжать работать удалённо, выезжать на&nbsp;рабочие встречи при сопровождении&nbsp;— это снижает барьер входа для занятых людей. Мы понимаем как важно не&nbsp;“выпадать из&nbsp;жизни”, поэтому не&nbsp;изолируем пациентов от&nbsp;внешнего мира.</p>
        </li>
        <li class="home-recovery-intro__card">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i>
          <h3 class="home-recovery-intro__card-title">Участие семьи и&nbsp;близких</h3></span>
          <p class="home-recovery-intro__card-text">Мы не&nbsp;ограничиваем контакты с&nbsp;семьёй, а&nbsp;работаем совместно. Семья и&nbsp;близкие для многих становятся мощной опорой на&nbsp;пути к&nbsp;полной ремиссии. Семейная терапия помогает сформировать правильное отношение к&nbsp;имеющимся проблемам у&nbsp;пациента и&nbsp;формы его поддержки.</p>
        </li>
        <li class="home-recovery-intro__card">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i>
          <h3 class="home-recovery-intro__card-title">Выявление и&nbsp;устранение причины зависимости</h3></span>
          <p class="home-recovery-intro__card-text">Программа реабилитации направлена не&nbsp;только на&nbsp;уход от&nbsp;зависимости, но&nbsp;и&nbsp;на&nbsp;выявление ее причины: почему человеку сложно получать удовольствие, почему справляется со&nbsp;стрессом с&nbsp;помощью стимуляторов, какие причины мешают выдерживать жизненные ситуации без допинга.</p>
        </li>
      </ul>
    </div>

  </div>

</section>
