<section class="service-subdivision-second-cta-v1" id="service-subdivision-second-cta" aria-labelledby="service-subdivision-second-cta-heading">
  <div class="container service-subdivision-second-cta-v1__container">
    <p class="service-subdivision-second-cta-v1__intro" id="service-subdivision-second-cta-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation .</p>
    @@include('partials/components/services-program-cta-band-v2.html', {"ctaTitle": "Запишитесь на&nbsp;гостевой визит", "ctaSubtitle": "Вы&nbsp;сможете все посмотреть и&nbsp;задать вопросы лично ", "ctaPhone": "8&nbsp;(925)&nbsp;183-64-64", "ctaText": "Записаться", "ctaSource": "service-subdivision-second-cta-v1"})
  </div>
</section>
