<section class="service-subdivision-nature-v1" id="service-subdivision-nature" aria-labelledby="service-subdivision-nature-heading">
  <div class="container service-subdivision-nature-v1__container">
    <h2 class="service-subdivision-nature-v1__heading" id="service-subdivision-nature-heading">Природа зависимости</h2>

    <p class="service-subdivision-nature-v1__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>

    <div class="service-subdivision-nature-v1__body">
      <p class="service-subdivision-nature-v1__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tem</p>
    </div>

    <ul class="service-subdivision-nature-v1__cards">
      <li class="home-recovery-intro__card service-subdivision-nature-v1__card">
        <div class="home-recovery-intro__card-head">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i></span>
          <h3 class="home-recovery-intro__card-title">Физиологическое проявление</h3>
        </div>
        <p class="home-recovery-intro__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
      </li>
      <li class="home-recovery-intro__card service-subdivision-nature-v1__card">
        <div class="home-recovery-intro__card-head">
          <span class="home-recovery-intro__card-icon" aria-hidden="true"><i class="fas fa-check"></i></span>
          <h3 class="home-recovery-intro__card-title">Поведенческое проявление</h3>
        </div>
        <p class="home-recovery-intro__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
      </li>
    </ul>
  </div>
</section>
