<section class="services-program-v2 @@modifierClass" id="@@id" aria-labelledby="services-program-v2-heading">
  <div class="container services-program-v2__container">
    <header class="services-program-v2__head">
      <h2 class="services-program-v2__heading" id="services-program-v2-heading">@@heading</h2>
      <a class="services-program-v2__head-link" href="@@allLinkHref">
        <span class="services-program-v2__head-link-text">@@allLinkTextDesktop</span>
        <span class="services-program-v2__head-link-icon" aria-hidden="true"><img class="services-program-v2__head-link-icon-image" src="assets/svg/external-link.svg" width="20" height="20" alt=""></span>
      </a>
    </header>

    <p class="services-program-v2__lead">@@lead</p>
    <p class="services-program-v2__intro">@@intro</p>

    <div class="services-program-v2__grid">
      @@itemsHtml
    </div>

    @@include('partials/components/services-program-cta-band-v2.html', {"ctaTitle": "@@ctaTitle", "ctaSubtitle": "@@ctaSubtitle", "ctaPhone": "@@ctaPhone", "ctaText": "@@ctaText", "ctaSource": "@@ctaSource"})

    <a class="services-program-v2__foot-link" href="@@allLinkHref">
      <span class="services-program-v2__foot-link-text">@@allLinkTextMobile</span>
      <span class="services-program-v2__foot-link-icon" aria-hidden="true"><img class="services-program-v2__foot-link-icon-image" src="assets/svg/external-link.svg" width="20" height="20" alt=""></span>
    </a>
  </div>
</section>
