<section class="service-leaf-approach-v1" id="service-leaf-approach" aria-labelledby="service-leaf-approach-heading">
  <div class="container service-leaf-approach-v1__container">
    <div class="service-leaf-approach-v1__head">
      <h2 class="service-leaf-approach-v1__heading" id="service-leaf-approach-heading">Наш подход к&nbsp;лечению алкогольной зависимости</h2>
      <a class="home-rehabilitation-program__all-link service-leaf-approach-v1__all-link" href="/o-centre/programma-lecheniya/">
        <span class="home-rehabilitation-program__all-text">подробнее</span>
        <span class="home-rehabilitation-program__all-icon" aria-hidden="true"><i class="fas fa-play"></i></span>
      </a>
    </div>

    <p class="service-leaf-approach-v1__highlight block-whith-red-line">Мы используем мультидисциплинарный подход&nbsp;— когда лечение одного пациента обеспечивается командой специалистов разных профилей. Такой подход становится залогом понимания и&nbsp;решения проблемы.</p>

    <p class="service-leaf-approach-v1__intro">Лечение в&nbsp;нашем реабилитационном центре совмещает современный и&nbsp;мультидисциплинарный подход направленный на&nbsp;устранение истинных причин зависимости.</p>

    <div class="service-leaf-approach-v1__staff-bleed">
      <img
        class="service-leaf-approach-v1__staff-image"
        src="assets/img/content/pre-reviews/shpigovsky-staff-group.webp"
        width="1139"
        height="443"
        alt="Команда специалистов реабилитационного центра"
        loading="lazy"
        decoding="async"
      >
    </div>

    <ul class="home-feature-grid__card-grid service-leaf-approach-v1__approach-cards">
      <li class="home-feature-grid__card service-leaf-approach-v1__approach-card">
        <h3 class="home-feature-grid__card-title">диагностические инструменты</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
      <li class="home-feature-grid__card service-leaf-approach-v1__approach-card">
        <h3 class="home-feature-grid__card-title">психиатрия</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
      <li class="home-feature-grid__card service-leaf-approach-v1__approach-card">
        <h3 class="home-feature-grid__card-title">функциональная терапия</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
      <li class="home-feature-grid__card service-leaf-approach-v1__approach-card">
        <h3 class="home-feature-grid__card-title">комплементарная терапия</h3>
        <p class="home-feature-grid__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
      </li>
    </ul>
  </div>
</section>
