<section class="service-subdivision-first-cta-v1" id="service-subdivision-start" aria-labelledby="service-subdivision-start-heading">
  <div class="container service-subdivision-first-cta-v1__container">
    @@include('partials/components/services-program-cta-band-v2.html', {"ctaTitle": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation .", "ctaSubtitle": "", "ctaPhone": "", "ctaText": "Записаться", "ctaSource": "service-subdivision-first-cta-v1"})
  </div>
</section>
