<figure class="blog-article-author-card">
  <img
    class="blog-article-author-card__photo"
    src="assets/img/content/founder-sergey-shpigovsky.png"
    width="1281"
    height="1278"
    alt="Сергей Юрьевич Шпиговский"
    loading="lazy"
    decoding="async"
  >
  <div class="blog-article-author-card__info">
    <p class="blog-article-author-card__name">Сергей Юрьевич Шпиговский</p>
    <p class="blog-article-author-card__role">Основатель центра. Аддиктолог, интервенционист</p>
  </div>
</figure>
