<article class="blog-related-card">
  <a class="blog-related-card__image-link" href="@@articleHref" data-static-prototype="blog-article-related">
    <img
      class="blog-related-card__image"
      src="@@imageSrc"
      width="@@imageWidth"
      height="@@imageHeight"
      alt="@@imageAlt"
      loading="lazy"
      decoding="async"
    >
  </a>
  <div class="blog-related-card__body">
    <h3 class="blog-related-card__title">
      <a class="blog-related-card__title-link" href="@@articleHref" data-static-prototype="blog-article-related">@@title</a>
    </h3>
    <p class="blog-related-card__read-more">
      <a class="blog-related-card__read-more-link" href="@@articleHref" data-static-prototype="blog-article-related">@@linkLabel</a>
    </p>
  </div>
</article>
