    <div class="comfort__gallery">
      @@include('partials/components/comfort-gallery-decor.html')
      <a
        class="comfort__gallery-item comfort__gallery-item--wide"
        href="@@img1Src"
        data-fancybox="@@fancyboxGroup"
      >
        <img class="comfort__gallery-image" src="@@img1Src" width="@@img1Width" height="@@img1Height" alt="@@img1Alt" loading="lazy" decoding="async">
      </a>
      <a class="comfort__gallery-item" href="@@img2Src" data-fancybox="@@fancyboxGroup">
        <img class="comfort__gallery-image" src="@@img2Src" width="@@img2Width" height="@@img2Height" alt="@@img2Alt" loading="lazy" decoding="async">
      </a>
      <a class="comfort__gallery-item" href="@@img3Src" data-fancybox="@@fancyboxGroup">
        <img class="comfort__gallery-image" src="@@img3Src" width="@@img3Width" height="@@img3Height" alt="@@img3Alt" loading="lazy" decoding="async">
      </a>
      <a class="comfort__gallery-item" href="@@img4Src" data-fancybox="@@fancyboxGroup">
        <img class="comfort__gallery-image" src="@@img4Src" width="@@img4Width" height="@@img4Height" alt="@@img4Alt" loading="lazy" decoding="async">
      </a>
      <a class="comfort__gallery-item" href="@@img5Src" data-fancybox="@@fancyboxGroup">
        <img class="comfort__gallery-image" src="@@img5Src" width="@@img5Width" height="@@img5Height" alt="@@img5Alt" loading="lazy" decoding="async">
      </a>
      <a
        class="comfort__gallery-item comfort__gallery-item--wide"
        href="@@img6Src"
        data-fancybox="@@fancyboxGroup"
      >
        <img class="comfort__gallery-image" src="@@img6Src" width="@@img6Width" height="@@img6Height" alt="@@img6Alt" loading="lazy" decoding="async">
      </a>
    </div>
