<div class="blog-lower-stack">
  @@include('partials/components/program-cta-band.html', {"wrapSection": "true", "wrapContainer": "", "sectionId": "blog-cta-01", "headingId": "blog-cta-01-heading", "headingText": "Запишитесь на&nbsp;встречу", "buttonFirst": "true", "marginFlush": "true", "ctaTitle": "Запишитесь на&nbsp;встречу", "ctaSubtitle": "Опишите ситуацию в&nbsp;удобном для вас формате. Первый разговор ни&nbsp;к&nbsp;чему не&nbsp;обязывает, но&nbsp;может стать шагом к&nbsp;переменам.", "ctaPhone": "8&nbsp;(925)&nbsp;183-64-64", "ctaPhoneHint": "Или позвоните нам", "ctaText": "Записаться", "ctaSource": "blog-cta-01"})
  @@include('partials/sections/blog-expert-quote.html')
</div>
