<section data-reveal class="service-leaf-intro-v1" id="service-leaf-intro" aria-labelledby="service-leaf-intro-heading">
  <div class="container service-leaf-intro-v1__container">
    <h2 class="service-leaf-intro-v1__heading" id="service-leaf-intro-heading">Алкогольная зависимость&nbsp;&mdash; это не&nbsp;персональный выбор</h2>
    <p class="service-leaf-intro-v1__lead block-whith-red-line">ЗАВИСИМОСТЬ&nbsp;&mdash; НЕ&nbsp;ПРОСТУПОК И&nbsp;НЕ&nbsp;ЧЕРТА ХАРАКТЕРА: ЗА&nbsp;НЕЙ СТОЯТ ОПРЕДЕЛЕННЫЕ НЕЙРОБИОЛОГИЧЕСКИЕ ПРОЦЕССЫ И&nbsp;ПСИХОЛОГИЧЕСКИЕ ПРИЧИНЫ.</p>
  </div>
</section>
