<section class="home-videos" aria-labelledby="home-videos-heading">
  <div class="container">
    <h2 class="home-videos__heading" id="home-videos-heading">Видео о&nbsp;нашем центре</h2>

    <figure class="home-videos__preview">
      <img
        class="home-videos__preview-image"
        src="assets/img/content/home-videos/shpigovsky-center-video-preview.webp"
        width="2208"
        height="693"
        alt="Видео о&nbsp;нашем центре"
        loading="lazy"
        decoding="async"
      >
      <figcaption class="home-videos__play" aria-hidden="true">
        <span class="home-videos__play-icon"><i class="fas fa-play"></i></span>
      </figcaption>
    </figure>
  </div>
</section>
