<section class="services-eating-disorders" aria-labelledby="services-eating-disorders-heading">
  <div class="container">
    <div class="services-eating-disorders__head">
      <span class="services-eating-disorders__index" aria-hidden="true">03</span>
      <h2 class="services-eating-disorders__heading" id="services-eating-disorders-heading">Расстройства пищевого поведения</h2>
    </div>

    <p class="services-eating-disorders__intro">Взаимоотношения с&nbsp;едой&nbsp;— это отношения с&nbsp;собственным телом, с&nbsp;контролем, с&nbsp;ощущением себя. За&nbsp;ограничениями в&nbsp;еде, перееданием или навязчивыми ритуалами вокруг питания стоит что-то, что ждёт внимания и&nbsp;аккуратной работы, а&nbsp;не&nbsp;порицания.</p>

    <p class="services-eating-disorders__lead">Мы работаем с&nbsp;тем, что лежит в&nbsp;основе: тревогой, перфекционизмом, нарушением образа тела (субъективное восприятие собственного тела), а&nbsp;также с&nbsp;нейрохимическими особенностями, которые усиливают эти состояния.</p>

    <ul class="services-eating-disorders__topics">
      <li class="services-eating-disorders__topics-item">
        <a class="services-eating-disorders__topic-link" href="/uslugi/rasstroystva-pischevogo-povedeniya/anoreksiya/">
          <span class="services-eating-disorders__topic-title">Нервная анорексия</span>
          <span class="services-eating-disorders__topic-more">узнать больше</span>
          <span class="services-eating-disorders__topic-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
        </a>
      </li>
      <li class="services-eating-disorders__topics-item">
        <a class="services-eating-disorders__topic-link" href="/uslugi/rasstroystva-pischevogo-povedeniya/buliniya/">
          <span class="services-eating-disorders__topic-title">Нервная булимия</span>
          <span class="services-eating-disorders__topic-more">узнать больше</span>
          <span class="services-eating-disorders__topic-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
        </a>
      </li>
      <li class="services-eating-disorders__topics-item">
        <a class="services-eating-disorders__topic-link" href="/uslugi/rasstroystva-pischevogo-povedeniya/kompulsivnoe-pereedanie/">
          <span class="services-eating-disorders__topic-title">Компульсивное переедание</span>
          <span class="services-eating-disorders__topic-more">узнать больше</span>
          <span class="services-eating-disorders__topic-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
        </a>
      </li>
    </ul>

    <div class="services-eating-disorders__cta">
      <a class="btn btn_dark btn--primary services-eating-disorders__cta-button" href="/uslugi/rasstroystva-pischevogo-povedeniya/">Узнать больше об&nbsp;услуге</a>
    </div>
  </div>
</section>
