<span class="@@wrap" aria-hidden="true"><img class="@@img" src="assets/img/reviews/rate_star.svg" alt="" width="50" height="50" decoding="async" /></span>
<span class="@@wrap" aria-hidden="true"><img class="@@img" src="assets/img/reviews/rate_star.svg" alt="" width="50" height="50" decoding="async" /></span>
<span class="@@wrap" aria-hidden="true"><img class="@@img" src="assets/img/reviews/rate_star.svg" alt="" width="50" height="50" decoding="async" /></span>
<span class="@@wrap" aria-hidden="true"><img class="@@img" src="assets/img/reviews/rate_star.svg" alt="" width="50" height="50" decoding="async" /></span>
<span class="@@wrap" aria-hidden="true"><img class="@@img" src="assets/img/reviews/rate_star.svg" alt="" width="50" height="50" decoding="async" /></span>
