<section class="contacts-body" aria-labelledby="contacts-page-heading">
  <div class="container contacts-body__container">
    <h1 class="contacts-body__heading" id="contacts-page-heading">Контакты</h1>

    <p class="contacts-body__intro block-whith-red-line">
      Ведем прием и&nbsp;консультируем в&nbsp;Москве и&nbsp;Московской области. Для нас не&nbsp;существует границ в&nbsp;привычном понимании этого слова&nbsp;— к&nbsp;нам приезжают из&nbsp;разных городов и&nbsp;стран, доверяя свое здоровье и&nbsp;благополучие заботливой помощи наших специалистов.
    </p>

    <div class="contacts-body__phone-row">
      <a class="contacts-body__phone" href="tel:+79251836464">8&nbsp;(925)&nbsp;183-64-64</a>
      <div class="contacts-body__messengers" aria-label="Мессенджеры">
        <a class="contacts-body__messenger-link" href="#" aria-label="Telegram">
          <img class="contacts-body__messenger-icon" src="assets/img/social/telegram.svg" alt="" width="24" height="24">
        </a>
        <a class="contacts-body__messenger-link" href="#" aria-label="WhatsApp">
          <img class="contacts-body__messenger-icon" src="assets/img/social/whatsapp.svg" alt="" width="24" height="24">
        </a>
        <a class="contacts-body__messenger-link" href="#" aria-label="Max">
          <img class="contacts-body__messenger-icon" src="assets/img/social/max.svg" alt="" width="24" height="24">
        </a>
      </div>
    </div>

    <article class="contacts-location">
      <h2 class="contacts-location__title">Центр профилактики и&nbsp;лечения зависимости</h2>
      <ul class="contacts-location__details">
        <li class="contacts-location__detail">
          <span class="contacts-location__icon" aria-hidden="true">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <div class="contacts-location__detail-body">
            <p class="contacts-location__value">
              <address class="contacts-location__address">Московская область, район ж.д. станции Катуар, д.&nbsp;Сухарево</address>
            </p>
            <p class="contacts-location__label">Адрес центра Шпиговский дом</p>
          </div>
        </li>
        <li class="contacts-location__detail">
          <span class="contacts-location__icon" aria-hidden="true">
            <i class="fas fa-clock"></i>
          </span>
          <div class="contacts-location__detail-body">
            <p class="contacts-location__value">Пн-пт с&nbsp;09-00 до&nbsp;19-00<br>Сб-вс с&nbsp;09-00 до&nbsp;20-00</p>
            <p class="contacts-location__label">Режим работы</p>
          </div>
        </li>
        <li class="contacts-location__detail">
          <span class="contacts-location__icon" aria-hidden="true">
            <i class="fas fa-envelope"></i>
          </span>
          <div class="contacts-location__detail-body">
            <p class="contacts-location__value">
              <a class="contacts-location__email" href="mailto:Info@shpigovsky.ru">Info@shpigovsky.ru</a>
            </p>
            <p class="contacts-location__label">почта</p>
          </div>
        </li>
      </ul>
      <figure class="contacts-location__map">
        <img
          class="contacts-location__map-image"
          src="assets/img/content/contacts/contacts-map-mo-region.png"
          width="1170"
          height="458"
          alt="Карта расположения центра в Московской области"
          loading="lazy"
          decoding="async"
        >
      </figure>
    </article>

    <article class="contacts-location">
      <h2 class="contacts-location__title">Лечение зависимостей Москва</h2>
      <ul class="contacts-location__details">
        <li class="contacts-location__detail">
          <span class="contacts-location__icon" aria-hidden="true">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <div class="contacts-location__detail-body">
            <p class="contacts-location__value">
              <address class="contacts-location__address">Москва, ул.&nbsp;Ленина, 3</address>
            </p>
            <p class="contacts-location__label">Адрес консультирования в&nbsp;Москве</p>
          </div>
        </li>
        <li class="contacts-location__detail">
          <span class="contacts-location__icon" aria-hidden="true">
            <i class="fas fa-clock"></i>
          </span>
          <div class="contacts-location__detail-body">
            <p class="contacts-location__value">Пн-пт с&nbsp;09-00 до&nbsp;19-00<br>Сб-вс с&nbsp;09-00 до&nbsp;20-00</p>
            <p class="contacts-location__label">Режим работы</p>
          </div>
        </li>
        <li class="contacts-location__detail">
          <span class="contacts-location__icon" aria-hidden="true">
            <i class="fas fa-envelope"></i>
          </span>
          <div class="contacts-location__detail-body">
            <p class="contacts-location__value">
              <a class="contacts-location__email" href="mailto:Info@shpigovsky.ru">Info@shpigovsky.ru</a>
            </p>
            <p class="contacts-location__label">почта</p>
          </div>
        </li>
      </ul>
      <figure class="contacts-location__map">
        <img
          class="contacts-location__map-image"
          src="assets/img/content/contacts/contacts-map-moscow.png"
          width="1170"
          height="458"
          alt="Карта расположения консультационного офиса в Москве"
          loading="lazy"
          decoding="async"
        >
      </figure>
    </article>
  </div>
</section>
