<section class="hero hero--home">
  <div class="hero__media" aria-hidden="true">
    <img
      class="hero__image"
      src="assets/img/hero/hero-main.png"
      width="2230"
      height="1246"
      alt=""
    >
  </div>

  <div class="hero__content">
    <div class="hero__container">
      <div class="hero__panel">
        <div class="hero__content-inner">
          <p class="hero__tagline">Центр профилактики и&nbsp;лечения зависимостей</p>
          <h1 class="hero__title">Шпиговский дом</h1>
        </div>
      </div>
      <div class="hero__actions">
        <button
          class="btn btn_dark btn--primary hero__button"
          type="button"
          data-modal-open="consultation"
          data-modal-source="hero"
          data-modal-title="Записаться на консультацию"
          data-modal-submit-text="Записаться на консультацию"
        >
          Записаться на консультацию
        </button>
      </div>
    </div>
  </div>
</section>
