<section class="home-treatment-prevention" aria-labelledby="home-treatment-prevention-heading">
  <div class="container">
    <div class="home-treatment-prevention__head">
      <h2 class="home-treatment-prevention__heading" id="home-treatment-prevention-heading">Лечение и&nbsp;профилактика</h2>
      <a class="home-treatment-prevention__all-link" href="#">
        <span class="home-treatment-prevention__all-text">Смотреть&nbsp;все</span>
        <span class="home-treatment-prevention__all-icon" aria-hidden="true"><i class="fas fa-play"></i></span>
      </a>
    </div>

    <p class="home-treatment-prevention__lead">Мы работаем с&nbsp;зависимостью не&nbsp;как с&nbsp;проступком, а&nbsp;как с&nbsp;состоянием, у&nbsp;которого есть биологические, психологические и&nbsp;социальные причины.</p>

    <div class="home-treatment-prevention__accordion" data-accordion>
      <div class="home-treatment-prevention__item" data-accordion-item>
        <h3 class="home-treatment-prevention__item-title">
          <button
            type="button"
            class="home-treatment-prevention__toggle"
            data-accordion-button
            aria-expanded="true"
            aria-controls="home-treatment-prevention-panel-1"
            id="home-treatment-prevention-trigger-1"
          >
            <span class="home-treatment-prevention__toggle-label">Зависимости и&nbsp;пристрастия</span>
            <span class="home-treatment-prevention__toggle-icon" aria-hidden="true"><i class="fas fa-chevron-down"></i></span>
          </button>
        </h3>
        <div
          class="home-treatment-prevention__panel"
          data-accordion-panel
          id="home-treatment-prevention-panel-1"
          role="region"
          aria-labelledby="home-treatment-prevention-trigger-1"
        >
          <ul class="home-treatment-prevention__service-list">
            <li class="home-treatment-prevention__service-list-item">
              <a
                class="home-treatment-prevention__service-item"
                href="/uslugi/zavisimosti/lechenie-alkogolnoy-zavisimosti/"
              >
                <span class="home-treatment-prevention__service-name">Алкогольная зависимость</span>
                <span class="home-treatment-prevention__service-leader" aria-hidden="true"></span>
                <span class="home-treatment-prevention__service-icon" aria-hidden="true"><img class="home-treatment-prevention__service-icon-image" src="assets/svg/external-link.svg" width="20" height="20" alt=""></span>
              </a>
            </li>
            <li class="home-treatment-prevention__service-list-item">
              <a
                class="home-treatment-prevention__service-item"
                href="/uslugi/zavisimosti/lechenie-narkoticheskoy-zavisimosti/"
              >
                <span class="home-treatment-prevention__service-name">Наркотическая зависимость</span>
                <span class="home-treatment-prevention__service-leader" aria-hidden="true"></span>
                <span class="home-treatment-prevention__service-icon" aria-hidden="true"><img class="home-treatment-prevention__service-icon-image" src="assets/svg/external-link.svg" width="20" height="20" alt=""></span>
              </a>
            </li>
            <li class="home-treatment-prevention__service-list-item">
              <a
                class="home-treatment-prevention__service-item"
                href="/uslugi/zavisimosti/lechenie-narkoticheskoy-zavisimosti/lekarstva/"
              >
                <span class="home-treatment-prevention__service-name">Лекарственная зависимость</span>
                <span class="home-treatment-prevention__service-leader" aria-hidden="true"></span>
                <span class="home-treatment-prevention__service-icon" aria-hidden="true"><img class="home-treatment-prevention__service-icon-image" src="assets/svg/external-link.svg" width="20" height="20" alt=""></span>
              </a>
            </li>
            <li class="home-treatment-prevention__service-list-item">
              <a
                class="home-treatment-prevention__service-item"
                href="/uslugi/zavisimosti/lechenie-povedencheskoy-zavisimosti/"
              >
                <span class="home-treatment-prevention__service-name">Поведенческие зависимости</span>
                <span class="home-treatment-prevention__service-leader" aria-hidden="true"></span>
                <span class="home-treatment-prevention__service-icon" aria-hidden="true"><img class="home-treatment-prevention__service-icon-image" src="assets/svg/external-link.svg" width="20" height="20" alt=""></span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="home-treatment-prevention__item" data-accordion-item>
        <h3 class="home-treatment-prevention__item-title">
          <button
            type="button"
            class="home-treatment-prevention__toggle"
            data-accordion-button
            aria-expanded="false"
            aria-controls="home-treatment-prevention-panel-2"
            id="home-treatment-prevention-trigger-2"
          >
            <span class="home-treatment-prevention__toggle-label">Психическое здоровье</span>
            <span class="home-treatment-prevention__toggle-icon" aria-hidden="true"><i class="fas fa-chevron-down"></i></span>
          </button>
        </h3>
        <div
          class="home-treatment-prevention__panel"
          data-accordion-panel
          id="home-treatment-prevention-panel-2"
          role="region"
          aria-labelledby="home-treatment-prevention-trigger-2"
          hidden
        >
        </div>
      </div>

      <div class="home-treatment-prevention__item" data-accordion-item>
        <h3 class="home-treatment-prevention__item-title">
          <button
            type="button"
            class="home-treatment-prevention__toggle"
            data-accordion-button
            aria-expanded="false"
            aria-controls="home-treatment-prevention-panel-3"
            id="home-treatment-prevention-trigger-3"
          >
            <span class="home-treatment-prevention__toggle-label">Расстройства пищевого поведения</span>
            <span class="home-treatment-prevention__toggle-icon" aria-hidden="true"><i class="fas fa-chevron-down"></i></span>
          </button>
        </h3>
        <div
          class="home-treatment-prevention__panel"
          data-accordion-panel
          id="home-treatment-prevention-panel-3"
          role="region"
          aria-labelledby="home-treatment-prevention-trigger-3"
          hidden
        >
        </div>
      </div>

      <div class="home-treatment-prevention__item" data-accordion-item>
        <h3 class="home-treatment-prevention__item-title">
          <button
            type="button"
            class="home-treatment-prevention__toggle"
            data-accordion-button
            aria-expanded="false"
            aria-controls="home-treatment-prevention-panel-4"
            id="home-treatment-prevention-trigger-4"
          >
            <span class="home-treatment-prevention__toggle-label">Генотипирование</span>
            <span class="home-treatment-prevention__toggle-icon" aria-hidden="true"><i class="fas fa-chevron-down"></i></span>
          </button>
        </h3>
        <div
          class="home-treatment-prevention__panel"
          data-accordion-panel
          id="home-treatment-prevention-panel-4"
          role="region"
          aria-labelledby="home-treatment-prevention-trigger-4"
          hidden
        >
        </div>
      </div>
    </div>
  </div>
</section>
