<section class="service-subdivision-first-cta-v1" id="service-subdivision-start" aria-labelledby="service-subdivision-start-heading">
  <div class="container service-subdivision-first-cta-v1__container">
    @@include('partials/components/services-program-cta-band-v2.html', {"ctaTitle": "Запишитесь на&nbsp;встречу", "ctaSubtitle": "Опишите ситуацию в&nbsp;удобном для вас формате. Первый разговор ни&nbsp;к&nbsp;чему не&nbsp;обязывает, но&nbsp;может стать шагом к&nbsp;переменам.", "ctaPhone": "8&nbsp;(925)&nbsp;183-64-64", "ctaPhoneHint": "Или позвоните нам", "ctaText": "Записаться", "ctaSource": "service-subdivision-cta-01"})
  </div>
</section>
