<section class="service-leaf-signs-v1" id="service-leaf-signs" aria-labelledby="service-leaf-signs-heading">
  <div class="container service-leaf-signs-v1__container">
    <h2 class="service-leaf-signs-v1__heading" id="service-leaf-signs-heading">Признаки алкогольной зависимости</h2>
    <p class="service-leaf-signs-v1__intro">Если вы&nbsp;подозреваете у&nbsp;себя или вашего близкого человека алкогольную зависимость, обратите внимание на&nbsp;следующие утверждения. Если вы&nbsp;согласны хотя&nbsp;бы с&nbsp;одним из&nbsp;нижеперечисленных утверждений, возможно, проблемы с&nbsp;употреблением алкоголя присутствуют.</p>
    <div class="service-leaf-signs-v1__list-panel">
      <ul class="service-leaf-signs-v1__list">
        <li class="service-leaf-signs-v1__list-item">В&nbsp;последние несколько месяцев вам не&nbsp;удавалось уложиться в&nbsp;сроки или выполнить поставленные задачи из-за употребления алкоголя?</li>
        <li class="service-leaf-signs-v1__list-item">Вам когда-нибудь требовался алкоголь, чтобы нормально функционировать после ночи обильного употребления спиртного?</li>
        <li class="service-leaf-signs-v1__list-item">Вам часто бывает трудно определить, что вы&nbsp;чувствуете во&nbsp;время или после употребления алкоголя?</li>
        <li class="service-leaf-signs-v1__list-item">У&nbsp;вас когда-нибудь случались провалы в&nbsp;памяти из-за употребления алкоголя?</li>
        <li class="service-leaf-signs-v1__list-item">Вы думаете или знаете&nbsp;ли вы, что ваши родственники и&nbsp;друзья обеспокоены вашим пристрастием к&nbsp;алкоголю?</li>
        <li class="service-leaf-signs-v1__list-item">Бывает&nbsp;ли так, что вы&nbsp;продолжаете пить до&nbsp;тех пор, пока не&nbsp;потеряете сознание?</li>
        <li class="service-leaf-signs-v1__list-item">Вы часто испытываете сильную тягу к&nbsp;алкоголю?</li>
        <li class="service-leaf-signs-v1__list-item">Вы нарушили обещание, данное близким, из-за своего пристрастия к&nbsp;алкоголю?</li>
        <li class="service-leaf-signs-v1__list-item">Вы опасаетесь, что можете быть алкоголиком?</li>
      </ul>
    </div>
    <p class="service-leaf-signs-v1__editorial">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tem</p>
    <p class="service-leaf-signs-v1__read-more">Читать больше</p>
  </div>
</section>
